.footer {
  color: var(--white);
  background-color: var(--footer-color);
  margin-top: 94px;
}
.footer__flex {
  @media screen and (max-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 70px;
    width: 1200px;
  }
  @media screen and (max-width: 1200px) {
    text-align: center;
    width: 1200px;
  }
}
.footer__wrapper {
  @media screen and (min-width: 768px) {
    margin-right: 165px;
    margin-left: 50px;
  }
}
.footer__media-wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.footer__logo-bottom {
  font-family: "raleway";
  font-weight: 700;
  font-size: 26px;
  padding-top: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.footer__logo-bottom a {
  text-decoration: none;
  color: var(--white);
}
.footer__contact-bottom {
  font-style: normal;
  padding-bottom: 60px;
}
.footer__contact-bottom-address {
  font-style: normal;

  margin-top: 0;
}
.footer__contact-bottom-links a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer__contact-bottom-links a:hover {
  color: var(--blue);
  transition: fill 250ms, border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contacts {
  list-style-type: none;
}
.footer__contact-detail {
  padding-top: 9px;
}
.footer__socials-header {
  font-size: 14px;
  font-weight: 700;
}
.footer__socials {
  padding-top: 72px;
}

