.fourth-section__company-svg {
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1170px;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.fourth-section__media {
  max-width: 1170px;
}
