.portfolio {
  margin-bottom: 94px;
}
.portfolio__filters {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-right: 8px;
  margin-bottom: 50px;
}
.container__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  list-style-type: none;
}
.card {
  background-color: var(--white);
}

.container__card-img {
  display: block;
}
.container__card:hover,
.container__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.container__caption {
  font-weight: 700;
  font-size: 18px;
  color: var(--black);
}
