.section {
  padding-top: 94px;
}
.section--display {
  display: flex;
  justify-content: center;
}

.section__style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.section__display {
  display: flex;
  margin: 0;

  color: var(--black);
  margin-bottom: 10px;
  font-size: 14px;
  justify-content: center;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    gap: 30px;
  }
}

.section__wrapper {
  color: var(--grey);
  max-width: 450px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.section__icon-box {
  height: 120px;

  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 70px;
  height: 70px;
  fill: var(--black);
}


