.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 130vh;
  padding: 32px;
  background-color: var(--white);
  z-index: 999;
  color: black;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container {
  @media screen and (min-width: 768px) {
    display: none;
  }
  opacity: 0;
}

.menu-container.is-open {
  transform: translateX(0);

  opacity: 1;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--black);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: var(--black);
  text-decoration: none;
}
.link {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 15px;
}
.link:hover {
  color: var(--blue);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.mobile__contacts {
  margin-top: 150px;
  color: var(--grey);
}
.mobile__tel {
  font-size: 34px;
  color: var(--blue);
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 32px;
}
.mobile__email {
  margin-top: 16px;
  font-size: 24px;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 58px;
}
.mobile__socials {
  margin-top: 35px;
  color: var(--blue);
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
}
.--social {
  border-right: 1px solid var(--grey);
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}
.--social__li {
  border-right: none;
  padding-left: 10px;
  cursor: pointer;
}
.--social__ins {
  padding-left: 0;
}
