@import "./variables";
@import "./container";

@import "./social-icon";
@import "./social-icon-circle";
@import "../components/banner";
@import "../components/header";
@import "../components/section";
@import "../components/second-section";
@import "../components/third-section";
@import "../components/fourth-section";
@import "./client-box";
@import "./client-icon";
@import "../components/footer.scss";
@import "./social-icon-circle-footer";
@import "../components/backdrop";
@import "../components/portfolio";
@import "./overlay";
